{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - payment_instructions: The payment instructions, if provided.
 *
 * @ingroup themeable
 */
#}

 {% if payment_instructions %}
    <div class="checkout-complete-instructions col-md-8 col-md-offset-2">
	    <div class="checkout-panel panel panel-default" id="payment-intruction">
		    <div class="panel-heading"> 
		      <div class="panel-title">{{ 'Payment instructions'|t }}</div>
		    </div> 
		    <div class="panel-body">
		      {{ payment_instructions }}
		    </div>
	    </div>
    </div>
  {% endif %}


<div class="checkout-complete">
	<div class="text-center col-sm-12 col-md-offser-1 col-md-10 col-lg-offset-2 col-lg-8">
		<div class="confirmation-wrapper">
			<div class="icon-success"></div>
			<h2>Gracias por tu compra</h2>
			<div class="description">
				Acabas de realizar tu compra con éxito.
				<br>
				Recibirás en tu correo electrónico, los accesos a tu curso.
			</div>
		  <div class="number-box">
		  	{{ 'No. de compra'}}
		  	<div class="number">
		  		{{ '@number'|t({'@number': order_entity.getOrderNumber}) }}
		  	</div>
		  </div>
  		</div>
	</div>
</div>

