.text-align-left{text-align:left}.text-align-right{text-align:right}.text-align-center{text-align:center}.text-align-justify{text-align:justify}.align-left{float:left}.align-right{float:right}.align-center{display:block;margin-left:auto;margin-right:auto}
.fieldgroup{border-width:0;padding:0}
.container-inline div,.container-inline label{display:inline-block}.container-inline .details-wrapper{display:block}
.clearfix:after{content:"";display:table;clear:both}
.js details:not([open]) .details-wrapper{display:none}
.hidden{display:none}.visually-hidden{position:absolute !important;clip:rect(1px,1px,1px,1px);overflow:hidden;height:1px;width:1px;word-wrap:normal}.visually-hidden.focusable:active,.visually-hidden.focusable:focus{position:static !important;clip:auto;overflow:visible;height:auto;width:auto}.invisible{visibility:hidden}
.item-list__comma-list,.item-list__comma-list li{display:inline}.item-list__comma-list{margin:0;padding:0}.item-list__comma-list li:after{content:", "}.item-list__comma-list li:last-child:after{content:""}
.js .js-hide{display:none}.js-show{display:none}.js .js-show{display:block}
.nowrap{white-space:nowrap}
.position-container{position:relative}
.progress{position:relative}.progress__track{background-color:#fff;border:1px solid;margin-top:5px;max-width:100%;min-width:100px;height:16px}.progress__bar{background-color:#000;height:16px;width:3%;min-width:3%;max-width:100%}.progress__description,.progress__percentage{color:#555;overflow:hidden;font-size:.875em;margin-top:.2em}.progress__description{float:left}[dir="rtl"] .progress__description{float:right}.progress__percentage{float:right}[dir="rtl"] .progress__percentage{float:left}.progress--small .progress__track{height:7px}.progress--small .progress__bar{height:7px;background-size:20px 20px}
.reset-appearance{-webkit-appearance:none;-moz-appearance:none;appearance:none;border:0 none;background:transparent;padding:0;margin:0;line-height:inherit}
.resize-none{resize:none}.resize-vertical{resize:vertical;min-height:2em}.resize-horizontal{resize:horizontal;max-width:100%}.resize-both{resize:both;max-width:100%;min-height:2em}
table.sticky-header{background-color:#fff;margin-top:0;z-index:500;top:0}
.system-status-counter__status-icon{display:inline-block;height:25px;width:25px;vertical-align:middle}.system-status-counter__status-icon:before{content:"";background-size:16px;background-position:center 2px;background-repeat:no-repeat;width:100%;height:100%;display:block}.system-status-counter__status-icon--error:before{background-image:url(/core/modules/system/css/components/../../../../misc/icons/e32700/error.svg)}.system-status-counter__status-icon--warning:before{background-image:url(/core/modules/system/css/components/../../../../misc/icons/e29700/warning.svg)}.system-status-counter__status-icon--checked:before{background-image:url(/core/modules/system/css/components/../../../../misc/icons/73b355/check.svg)}
.system-status-report-counters__item{width:100%;padding:.5em 0;text-align:center;white-space:nowrap;background-color:rgba(0,0,0,.063);margin-bottom:.5em}@media screen and (min-width:60em){.system-status-report-counters{flex-wrap:wrap;display:flex;justify-content:space-between}.system-status-report-counters__item--half-width{width:49%}.system-status-report-counters__item--third-width{width:33%}}
.system-status-general-info__item{border:1px solid #ccc;margin-top:1em;padding:0 1em 1em}.system-status-general-info__item-title{border-bottom:1px solid #ccc}
.tablesort{width:16px;height:16px;display:inline-block;background-size:100%}.tablesort--asc{background-image:url(/core/modules/system/css/components/../../../../misc/icons/787878/twistie-down.svg)}.tablesort--desc{background-image:url(/core/modules/system/css/components/../../../../misc/icons/787878/twistie-up.svg)}
div.tree-child{background:url(/core/modules/system/css/components/../../../../misc/tree.png) no-repeat 11px center}div.tree-child-last{background:url(/core/modules/system/css/components/../../../../misc/tree-bottom.png) no-repeat 11px center}[dir="rtl"] div.tree-child,[dir="rtl"] div.tree-child-last{background-position:-65px center}div.tree-child-horizontal{background:url(/core/modules/system/css/components/../../../../misc/tree.png) no-repeat -11px center}
.views-align-left{text-align:left}.views-align-right{text-align:right}.views-align-center{text-align:center}.views-view-grid .views-col{float:left}.views-view-grid .views-row{clear:both;float:left;width:100%}
.webform-flex--container .form-inline .form-control{width:100%}.form-composite legend{font-size:1em;font-weight:bold;border:0;margin:0}.webform-element--title-inline>div{display:inline}.form-composite.webform-fieldset--title-inline legend{float:left;width:auto;font-size:1em;font-weight:bold;border:0;margin:10px .5em 10px 0}
.layout-region{box-sizing:border-box}@media screen and (min-width:780px),(orientation:landscape) and (min-device-height:780px){.layout-region-checkout-main,.layout-region-checkout-footer{float:left;width:65%;padding-right:2em;box-sizing:border-box}[dir="rtl"] .layout-region-checkout-main,[dir="rtl"] .layout-region-checkout-footer{float:right;padding-left:2em;padding-right:0}.layout-region-checkout-secondary{float:right;width:35%}[dir="rtl"] .layout-region-checkout-secondary{float:left}}@media screen and (max-width:1020px){.toolbar-vertical.toolbar-tray-open .layout-region-checkout-main,.toolbar-vertical.toolbar-tray-open .layout-region-checkout-footer,.toolbar-vertical.toolbar-tray-open .layout-region-checkout-secondary{float:none;width:auto;padding-right:0}}
