.caption{display:table}.caption>*{display:block;max-width:100%}.caption>figcaption{display:table-caption;caption-side:bottom;max-width:none}.caption>figcaption[contenteditable=true]:empty:before{content:attr(data-placeholder);font-style:italic}
p[data-widget="image"].align-center{text-align:center}div[data-cke-widget-wrapper].align-center>figure[data-widget="image"]{margin-left:auto;margin-right:auto}
.ckeditor-dialog-loading{position:absolute;top:0;width:100%;text-align:center}.ckeditor-dialog-loading-link{border-radius:0 0 5px 5px;border:1px solid #b6b6b6;border-top:0;background:white;padding:3px 10px;box-shadow:0 0 10px -3px #000;display:inline-block;font-size:14px;position:relative;top:0;-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.quickedit-toolgroup.wysiwyg-main .cke_chrome,.quickedit-toolgroup.wysiwyg-main .cke_inner,.quickedit-toolgroup.wysiwyg-main .cke_top{background:transparent;border-top:0;border-right:0;border-bottom:0;border-left:0;box-shadow:none}
