.views-align-left{text-align:left}.views-align-right{text-align:right}.views-align-center{text-align:center}.views-view-grid .views-col{float:left}.views-view-grid .views-row{clear:both;float:left;width:100%}
.views-data-export-feed{display:inline}.json-feed .feed-icon{background-image:url(/modules/contrib/views_data_export/css/../images/json.png);width:36px}.xml-feed .feed-icon{background-image:url(/modules/contrib/views_data_export/css/../images/xml.png);width:36px}.csv-feed .feed-icon{background-image:url(/modules/contrib/views_data_export/css/../images/csv.png);width:36px}.xls-feed .feed-icon{background-image:url(/modules/contrib/views_data_export/css/../images/xls.png);width:36px}
