{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{% for row in rows %}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
    ]
  %}

    {% if loop.first %}
	{%
		set row_classes = [
		default_row_class ? 'first col-sm-offset-1 col-md-offset-2 col-lg-offset-3',
		]
	%}
    {% endif %}

       <div{{ row.attributes.addClass(row_classes) }}>
		{{ row.content }}
       </div>

{% endfor %}
