body{
	color: #3A5066;
	font-size: 16px;
	a{
		color: #11758C;

	}
}

h1,h2,h3,h4{
	color: #4AB2A7;
	text-transform: uppercase;
}

h1{
	text-transform: none;
	text-align: center;
	margin-bottom: 30px !important;
	border-bottom: none !important;
}

header{
	margin-bottom: 0px;	
}

.region-floor-three{
	overflow: hidden;
}
.form-control{
	border-radius: 0px;
}
.video-embed-field-lazy-play{
	opacity: .5;
}

$pagination-color:#11758C;
$pagination-active-bg:#11758C;
$pagination-active-color:#fff;
 
.pagination {
  > li {
    > a,
    > span {
      color: $pagination-color;
      background-color: $pagination-bg;
      border: 1px solid $pagination-border;
    }
  }

  > li > a,
  > li > span {
    &:hover,
    &:focus {
      color: $pagination-hover-color;
      background-color: $pagination-hover-bg;
      border-color: $pagination-hover-border;
    }
  }

  > .active > a,
  > .active > span {
    &,
    &:hover,
    &:focus {
      color: $pagination-active-color;
      background-color: $pagination-active-bg;
      border-color: $pagination-active-border;
    }
  }

  > .disabled {
    > span,
    > span:hover,
    > span:focus,
    > a,
    > a:hover,
    > a:focus {
      color: $pagination-disabled-color;
      background-color: $pagination-disabled-bg;
      border-color: $pagination-disabled-border;
    }
  }
}

#navbar{
	margin-bottom:0px;	
	.logo{
		img{
			max-width: 140px;
			float: none;
		}
	}
	.name{
		display: none;
	}
}

.region{
		padding: 30px 0px;
}

.region-banner{
	padding: 0px;
}
.region-highlighted,
.region-navigation,
.region-navigation-collapsible{
	padding: 0px;
}

.btn{
	 padding: 10px 26px;
	 font-weight: bold;
	 border: none;
	 border-radius: 3px;
}
.btn-primary {
		background: #00BCE5;
}
.btn-danger {
		background: #DD4950;
} 

#navbar, #navbar-collapse{ 
	.menu--main{ 
		margin-left: 40px;
		display: inline;
		text-align: center;
		margin-left: 150px;
		li{
				a{
					color: #11758C;
					text-transform: uppercase;
					font-size: 16px;
					&:hover{
						color: #074654;
					};
				}
				&.active{		
					a{
						background: none;
						font-weight: bold;
					}
				}
			}
	}
}

#block-views-block-banner-block-1, #block-views-block-banner-block-2{
	.views-row{
			position: relative;
			.views-field-field-banneer{
				img{
					min-height: 220px;
					max-height: 500px;
				}
			}
			.views-field-body{
				position: absolute;
			    top: 50px;
			    width: 100%;
				.description{
					display: none;
					strong{
						color: #FFC300;
					}
				}
				h2{
					font-size: 38px !important;
					font-weight: bold;
					color: white !important;
					margin-bottom: 0px;
				}
				h3{
					margin-top: 5px;
					font-weight: normal;
					color: white !important;
					font-size: 28px !important;
				}
				.btn{
					margin-top: 20px;
					font-size: 22px;
					font-weight: normal;
				}

			}
		}
	}

footer{
	#block-footer-logo{
		img{
			max-height: 90px;
		}
	}
}

.path-frontpage{
	#block-front-cinta-preparacion{
			background: #BB5C59;
			padding: 10px 15px 15px 15px;
			p,strong{
			 color: white;
			 font-size: 22px;
			}
	}
#block-views-block-banner-block-1, #block-views-block-banner-block-2{
	.views-row{
			position: relative;
			.views-field-field-banneer{
				img{
					min-height: 220px;
					max-height: 500px;
				}
			}
			.views-field-body{
				position: absolute;
			    top: calc(50% - 80px) !important;
			    width: 100%;
				.description{
					display: none;
					strong{
						color: #FFC300;
					}
				}
				h2{
					font-size: 35px !important;
					color: white !important;
				}
				.btn{
					margin-top: 20px;
					font-size: 22px;
					font-weight: normal;
				}

			}
		}
	}
	.region-floor-one{
		padding-top: 40px;
		h2{
			font-weight: bold;
		}
		h3{
			color: #586771;
		}
		.row{
			margin-top: 80px;
			margin-bottom: 40px;
			.description{
				margin-top: 40px;
				font-size: 17px;
			}
			.colum{
				padding: 0px 50px;
				.icon{
					width: 100%;
					height: 130px;
					background-position: 50% 50% !important; 
					background-size: 130px 130px !important;
				}
				&.salon-virtual{
					.icon{
						background: url('/themes/contrib/exanitrap/images/icons/icono-salon.svg') no-repeat;

					}
				}
				&.curso-practico{
					.icon{
						background: url('/themes/contrib/exanitrap/images/icons/icono-curso.svg') no-repeat;
						
					}
				}
				&.garantia-instal{
					.icon{
						background: url('/themes/contrib/exanitrap/images/icons/icono-garantia.svg') no-repeat;
					}
				}
			}
		}
	}
	.region-floor-two{
		padding-top: 60px;
		background: #334a60;
		.block-title{
			font-weight: bold;
			color: white;
		}
		.areas-wrapper{
			margin-top: 80px;
			.colum{
				padding:20px;
				.description{
					color: white;
					font-size: 22px;
					padding:20px 30px 30px 30px;
				}
				.icon{
						width: 100%;
						height: 90px;
						background-position: 50% 50% !important; 
						background-size: 90px 90px !important;
					}
				&#comprension-lectora{
					.icon{
						background: url('/themes/contrib/exanitrap/images/icons/icono-comprension-lectora.svg') no-repeat;
					}
				}
				&#estructura-lengua{
					.icon{
						background: url('/themes/contrib/exanitrap/images/icons/icono-estructura-lengua.svg') no-repeat;
					}
				}
				&#pensamiento-matematico{
					.icon{
						background: url('/themes/contrib/exanitrap/images/icons/icono-pensamiento-matematico.svg') no-repeat;
					}
				}
				&#pensamiento-analitico{
					.icon{
						background: url('/themes/contrib/exanitrap/images/icons/icono-pensamiento-analitico.svg') no-repeat;
					}
				}
			}
		}
	}
	.region-floor-three{
		background: #ff8f89;
		padding-top: 0px;
		h2{
			margin: 0px;
			color: white;
			background: #bc524e;
			text-align: center;
			text-transform: none;
			padding: 15px 0px;
			font-weight: bold;
		}
		.views-row{
			margin-top: 20px;
			padding: 20px 40px;

		}
		.first{
			.views-field-title{
				background: #0092ad;
			}
		}
		.views-field{
			background: white;
		}
		.views-field-field-vigencia{
			padding-top: 10px;
			font-size: 17px;		
		}
		.views-field-price__number{
			font-weight: bold;
			font-size: 17px;		

		}
		.views-field-title{
			padding: 10px;
			text-transform: uppercase;
			background: #334a60;	
			color: white;
			font-weight: bold;
			font-size: 22px;
		}
		.views-field-variations{
			display: inline-block;
			padding: 0px 10px 10px 10px;
    		width: 100%;
			button{
				background: #DD4950;
				&:hover,&:focus{
					background-color: #c9302c;
    				border-color: #ac2925;
				}
				text-transform: uppercase;
			}
		}
	}
	.region-floor-four{
		background: #f1f1f1;
		h2{
			text-align: center;
			font-weight: bold;
			margin-bottom: 0px;
		}
		.view-content{
			display: inline-block;
    		width: 100%;

			.views-row{
				text-align: center;
				margin: 40px 0px;
				.img-wrapper{
						width: 140px;
						height: 140px;
						border-radius: 50%;
					    overflow: hidden;
					    display: inline-block;
					    position: relative;
					    margin: 20px;
					    border: 1px solid #999;
					img{
						height: 100%;
					    position: absolute;
					    left: 50%;
					    top: 50%;
					    transform: translate(-50%, -50%);
					    max-width: none;
					    width: auto;
					}
				}
				.views-field-title{
					a{
						color: #11758c;
						font-size: 25px;
					}
					margin: 20px 0px;

				}
			}
		}
		.view-footer{
			margin-bottom: 20px;
		}
	}
	.main-container{
		padding-bottom: 40px;
		h1{
			display: none;
		}
		h2{
			text-transform: none;
			padding: 0px 10px 10px 10px;
			border-bottom: 3px solid #b8c0d4;
			font-weight: bold;
		}
		.media{
			margin-top: 30px;
			p{
				margin: 40px 0px 20px 20px;
			}
			.btn{
				margin-left: 20px;
			}
			img{
				max-width: 150px;
			}
		}
	}
}


.region-pre-footer{
	background: #f1f1f1;
	padding: 5px 0px 1px 0px;
	.iconized{
		padding: 10px;
		.icon{
			margin-right: 5px;
			width: 30px;
			height: 30px;
			display: inline-block;
			background-position: 0px -4px !important; 
			background-size: 30px 30px !important;
		}
		&.blacked{
			.icon{
				background: url('/themes/contrib/exanitrap/images/icons/icono-telefono.svg') no-repeat;
			}
		}
		&.whats{
			.icon{
				background: url('/themes/contrib/exanitrap/images/icons/icono-whatsapp.svg') no-repeat;
			}
		}
	}
	.social-share{
		#label-social{
			padding-top: 10px;
		    vertical-align: top;
		    display: inline-block;
		
		}
		a{
			width: 45px;
			height: 45px;
			background-size: 45px 45px !important;
			display: inline-block;
			&.facebook{
				background: url('/themes/contrib/exanitrap/images/icons/icono-facebook.svg') no-repeat;
			}
			&.youtube{
					background: url('/themes/contrib/exanitrap/images/icons/icono-youtube.svg') no-repeat;
			}
		}
	}
}


.footer{
	margin-top: 0px !important;
	padding-bottom: 0px;
	border: none;
	text-align: center;
	color: #8FA5B2;
	.region-footer{
		padding: 0px;
		.block-block-content{
			padding: 10px 0px;
			min-height: 110px;
		}
	}
	.menu--main{
		width: 100%;
		border-top: 2px solid #d5d9e5;
		margin-top: 20px;
		li{
			display: inline-block;
			float: none;
			a{
				text-transform: uppercase;
				color: #8FA5B2;
				font-weight: bold;
			}
		}
	}
	#block-footer-instituto{
		p{
			//color: #8FA5B2;
		}
	}
}

.page-node-type-testimonio{
	.testimonio{
		.field--name-body{
			padding: 20px 0px;
			font-size: 22px;
			}
		}
}


#block-views-block-productos-block-2{
		margin-bottom: 20px;
		h2{
			text-align: center;
			color: #586771;
			font-size: 24px;
		}
		.views-row{
			margin-top: 20px;
			padding: 20px 40px;

		}
		.first{
			.views-field-title{
				background: #0092ad;
			}
			.views-field{
				border: 1px solid #0092ad;
			}
			.views-field-field-contenido{
				padding-top: 35px;
				padding-bottom: 30px;
			}
		}
		.views-field{
			background: white;
			border-top: 0px !important;
			padding: 20px;
			border: 1px solid #334a60;
			strong{
				margin-bottom: 5px;
				display: inline-block;
			}
		}
		.views-field-field-contenido{
			li{
				list-style: none;
			}
		}
		.views-field-title{
			padding: 10px;
			text-transform: uppercase;
			background: #334a60;
			h3{	
				color: white;
				font-weight: bold;
				font-size: 22px;
				margin: 0px;
			}
		}
		.views-field-variations{
			display: inline-block;
			padding: 0px 10px 10px 10px;
    		width: 100%;
			button{
				background: #DD4950;
				&:hover,&:focus{
					background-color: #c9302c;
    				border-color: #ac2925;
				}
				text-transform: uppercase;
			}
		}
}

.view-formas-de-pago{
	.views-row{
		.inner-containter-row{
			border: 1px solid #0092AD;
			margin: 10px 5px;
			margin-bottom: 40px;
		}
		h3{
			text-align: center;
			color: #334A60;
			font-weight: bold;
			font-size: 24px;
			background: #f1f1f1;
			margin: 0px;
			padding: 10px 0px;
			margin-bottom: 20px;
		}
		.image{
			text-align: center;
			img{
				display: inline-block;
				height: 40px;
				width: auto;
			}
		}
		.description{
			padding: 20px 40px 0px 40px;
		}
		.planes{
			text-align: center;
			border-top: 1px solid #0092AD;
			padding: 20px 0px; 
		}
	}
}

#block-banda-garantizar{
	background: #BB5C59;
	border-top: 1px solid #CE8886;
	padding: 10px 15px 15px 15px;
	p{
	 color: white;
	 font-size: 22px;
	 margin-top: 6px;
	}
	.btn{
		margin-left: 10px;
		background: #0092AD;
		font-weight: bold;
		text-transform: uppercase;
		font-size: 16px;
	}
}

.node-11{
	h1{
		text-transform: uppercase;
		border: none;
		font-size: 36px;
		margin-top: 40px;
	}
	.subtitle-wrapper{
		color: #373a3c;
		position: relative;
		.subtitle{
			background: white;
			padding: 10px 30px;
		    display: inline;
		    background: white;
		    position: relative;
		}
		.separator-row{
			border-top: 1px solid #b9c1d5;
			position: absolute;
		    width: 100%;
		    top: 10px;
		}
	}
	.biography-media{
		.media-object{
			img{
			display: none;
			}
		}
		.media-body{
			h2{
				margin-top: 0px;
				margin-bottom: 20px;
				font-weight: bold;
				text-transform: none;
			}
		}
	}
	.wrapper-video{
		margin: 20px 0px 0px 0px; 
	}
}
.node-12{
	h1{
		display: none;
	}
	#block-views-block-formas-de-pago-block-1{
		margin-top: 30px;
	}
}
.node-13{
	h1{
		text-transform: uppercase;
		font-size: 30px;
		padding:60px 0px;
	}
	.region-banner{
		background: url('/themes/contrib/exanitrap/images/headers/Testimonios.jpg') no-repeat;
		background-size: 100% 350px;
		position: relative;
		width: auto;
    	height: 350px;
		#views-bootstrap-testimonios-block-2{
			.carousel-control{
				background-image: none;
			}
			.carousel-inner{
						overflow: inherit;
						position: relative;
						height: 300px;
						padding: 10px;
					}
			.item{
				text-align: center;
				&.next{
					top: 10px !important;
				}
					img{
						display: inline-block;
						border-radius: 100px;
						z-index: 1;
						border: 2px solid white;
						box-shadow: 1px 3px 3px #aaa;
						margin-top: 20px;
					}
					.carousel-caption{
						left: calc(50% - 300px);
						right:  calc(50% - 300px);
						background: white;
					    max-width: 600px;
					    display: inline-block;
					    z-index: -1;
					    top: 50%;
					    bottom: 0;
					    height: 190px;
					    h3{
					    	padding-top: 65px;
					    	position: relative;
					    	text-shadow: none;
					    	text-transform: none;
						}
						p{
							text-shadow: none;
							color: #334a60;
						}
					}
				
			}
		}
	}
	.region-floor-one{
		padding: 0px;
		background: #BB5C59;
		 #block-cinta-testimonios{
			 color: white;
			 padding: 10px 0px 15px 0px;
			 .followers-face{
			 	padding-top: 5px;
			 	.counter{
			 		display: block;
			 		font-weight: bold;
			 		font-size: 42px;
			 		line-height: 33px;
			 	}

			 }
			 .buy-plan{
			 	text-align: right;
			 	padding-top: 10px;
			 	.select-plan{
			 		font-size: 20px;
			 	}
				 .btn{
				 	margin-left: 10px;
				    background: #0092AD;
				    font-weight: bold;
				    text-transform: uppercase;
				    font-size: 16px;
				 }
			}
		}
	}
	#block-views-block-testimonios-seccion-block-1{
		.view-content{
			    position: relative;
			    width: 100%;
			    display: inline-block;
			.views-row{
				margin-bottom: 30px;
				.views-field-nothing{
					border: 1px solid #ddd;
					border-radius: 4px;
					h3{
						text-align: center;
						text-transform: none;
					}
					.description{
						padding: 10px 10px 0px 10px;	
					}
				}
			}
		}
	}
}
.node-14{
	h1{
		text-transform: uppercase;
		margin: 40px 0px 30px 0px;
    	display: inline-block;
    	width: 100%;
	}
	.row-map{
		margin-bottom: 40px;
	}
	#webform-submission-contacto-block-content-2-add-form{
		padding: 20px 0px 40px;
		.form-control{
			padding: 10px 0px;
			min-height: 40px;
			text-transform: uppercase;
			text-align: center;
			font-size: 15px;
		}
		#edit-actions{
			text-align: center;
			button{
				width: 190px;
				margin-top: 10px;
				text-transform: uppercase;
			}
		}
	}
}
.node-16{
	legend{
		color: #586771;
		border: none;
		font-size: 24px;
	}
	h1{
		display: none;
	}
}

 @media (min-width: 765px) {
 	
    #navbar-collapse{
		.menu--main{
			margin-left: 0px;
			float: right;
			margin-top: 25px;
			li{
				display: inline-block;
				float: none;
			}
		}
	}
	.path-frontpage{
#block-views-block-banner-block-1, #block-views-block-banner-block-2{
			.views-row{
				.views-field-body{
					top: calc(50% - 90px) !important;
					h2{
						font-size: 45px !important;
					}
					.description{
							color: white !important;
							font-size: 22px !important;
							display: inline-block !important;
					}
				}
			}
		}
	}
	.view-formas-de-pago{
		.views-row{
			min-height: 530px;
		}
	}
	.biography-media{
		.media-object{
			img{
				width: 200px;
				display: inherit !important;
			}
		}
		.media-body{
			padding-left: 40px;
		}
	}
	#block-views-block-testimonios-seccion-block-1{
		.views-field-nothing{
			min-height: 340px;
		}
	}
}

.steped-block{
	margin: 40px 0px 60px;
	.lined{
		border-top: 1px solid #8f989f;
		position: absolute;
	    z-index: -1;
	    top: calc(50% - 15px);
	    left: -1px;
	    padding-right: 20px;
	}
	.legend-number{
		margin-top: 10px;
		font-weight: bold;
	}
	.number{
		border: 1px solid #b55956;
		color: #b55956;
		background: #ffffff;
		padding: 20px;
		border-radius: 85px;
		min-width: 85px;
		min-height: 85px;
		display: inline-block;
		font-weight: bold;
		font-size: 28px;
		&.selected{
			background: #b55956;
			color: white; 
		}
	}
}

.path-checkout{
	h1{
		display: none;
	}
	.js-form-item-payment-information-billing-information-address-0-address-country-code{
		display: none;
	}
	.form-item-payment-information-billing-information-address-0-address-given-name,
	.form-item-payment-information-billing-information-address-0-address-family-name{
		@extend .col-sm-6;
		margin-right: 0px !important;
	}
	#payment-intruction,
	div[id^='edit-contact-information'],
	div[id^='edit-payment-information']{
		margin-bottom: 40px;
		border-radius: 0px;
		border-color: #0092ad;
		.panel-heading{
			border-radius: 0px;
			background: #0092ad;
			color: white;
			font-weight: bold;
		}
		.fieldset-legend{
			display: none;
		}
		.form-item-payment-information-payment-method{
				padding: 25px 10px;
				border-bottom: 1px solid #aaa;
				color: #606060;
				font-size: 17px;
				input{
					margin-right: 210px;
    				position: relative;
				}
		}
		.js-webform-radios{
			.js-form-item-payment-information-payment-method{
				&:first-child{
					background: url('/themes/contrib/exanitrap/images/icons/icono-bbva.png') no-repeat;
					background-position: 30px 50%;
					background-size: 130px;
				}
				&:nth-child(2){
					background: url('/themes/contrib/exanitrap/images/icons/icono-oxxo.png') no-repeat;
					background-position: 30px 50%;
					background-size: 100px;
				}
				&:nth-child(3){
					background: url('/themes/contrib/exanitrap/images/icons/icono-visa.png') no-repeat;
					background-position: 30px 50%;
					background-size: 120px;
				}
				&:nth-child(4){
					background: url('/themes/contrib/exanitrap/images/icons/icono-paypal.png') no-repeat;
					background-position: 30px 50%;
					background-size: 120px;
				}
				&:nth-child(5){
					background: url('/themes/contrib/exanitrap/images/icons/icono-transferencia.png') no-repeat;
					background-position: 70px 50%;
					background-size: 40px;
				}
			}
		}
	}
	#edit-contact-information,
	#edit-review-payment-information{
		margin-top: 40px;
	}
	#edit-review-contact-information{
		display: none;
	}
	#edit-actions{
		text-align: center;
		padding-top: 20px;
		button{
			&#edit-actions-next{
				@extend .btn-danger;
				padding: 10px 40px;
			}
		}
		a{
			@extend .btn;
			@extend .btn-primary;
		}
	}

	.icon-success{
		background:red;
		width: 120px;
		height: 120px;
		display: inline-block;
		background: url('/themes/contrib/exanitrap/images/icons/icono-check.png') no-repeat;
		background-size: 100px;
    	background-position: 50% 50%;

	}
	.confirmation-wrapper{
		border: 1px solid #9a9a9a;
		padding: 30px;
		font-size: 22px;
		margin: 20px 0px;
		h2{
			text-transform: none;
			color: #84ba58;
			font-size: 28px;
			font-weight: bold;
		}
		.description{
			color: #5c5c5c;
		}
		.number-box{
			display: inline-block;
			font-weight: bold;
			padding: 10px 50px;
			background: #B55956;
			color: white;
			margin-top: 40px;
			font-size: 28px;
			line-height: 32px;
		}
	}
}


 @media (min-width: 990px) {

 	.path-frontpage{
		#block-views-block-banner-block-1, #block-views-block-banner-block-2{
			.views-row{
				.views-field-body{
					top: calc(50% - 90px) !important;
					h2{
						font-size: 55px !important;
					}
					.description{
							color: white !important;
							font-size: 22px !important;
							display: inline-block !important;
					}
					.btn{
						margin-top: 30px;
					}
				}
			}
		}
	}
	#block-views-block-banner-block-1, #block-views-block-banner-block-2{
		.views-row{
		
			.views-field-body{
				top: calc(50% - 60px) !important;
				h2{
					font-size: 45px !important;
					font-weight: bold;
					color: white !important;
					margin-bottom: 0px;
				}
				h3{
					margin-top: 5px;
					font-weight: normal;
					color: white !important;
					font-size: 32px !important;
				}
			}
		}
	}
	.view-formas-de-pago{
		.views-row{
			min-height: inherit;
		}
	}
		#block-views-block-testimonios-seccion-block-1{
		.views-field-nothing{
			min-height: 290px;
		}
	}
 }

 @media (min-width: 1185px) {
 	.path-frontpage{
		#block-views-block-banner-block-1, #block-views-block-banner-block-2{
			.views-row{
				.views-field-body{
					top: calc(50% - 90px) !important;
					h2{
						font-size: 70px !important;
					}
					.description{
							color: white !important;
							font-size: 22px !important;
							display: inline-block !important;
					}
				}
			}
		}
	}
	#block-views-block-banner-block-1, #block-views-block-banner-block-2{
		.views-row{
		
			.views-field-body{
				top:100px;
				h2{
					font-size: 45px !important;
					font-weight: bold;
					color: white !important;
					margin-bottom: 0px;
				}
				h3{
					margin-top: 5px;
					font-weight: normal;
					color: white !important;
					font-size: 32px !important;
				}
			}
		}
	}
	#block-views-block-testimonios-seccion-block-1{
		.views-field-nothing{
			min-height: 340px;
		}
	}
	.block-address{
		padding: 20px 0px 0px 0px !important;
	}
 }
